@import url("./reset.css");

body {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    background: no-repeat url("../images/header-background.png");
    background-size: 100%;
}

.header__logo-link__logo {
    width: 12rem;
    height: 1.5rem;
    margin-top: 3rem;
    margin-left: 4rem;
}

.header__main-title {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    line-height: 4rem;
    color: #FFD15B;
    text-align: center;
    max-width: 890px;
    margin-inline: auto;
    margin-top: 10rem;
    margin-bottom: 2rem;
}

.header__search-bar-form {
    background-color: white;
    width: 66%;
    max-width: 954px;
    margin-inline: auto;
    margin-bottom: 11rem;
    display: flex;
    border-radius: 11px;
    z-index: 2;
    position: relative;
}

.header__search-bar-form.open-suggestions {
    border-radius: 11px 11px 0px 0px;
}

#header__search-bar {
    width: 100%;
    margin-left: 2rem;
    border: none;
    border-radius: 11px;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    color: #7A7A7A;
    outline: none;
}

.header__search-bar-form__button {
    cursor: pointer;
    background-color: #1b1b1b;
    margin: 0.5rem;
    border: none;
    border-radius: 10px;
    width: 3.25rem;
    height: 3.25rem;
    transition: background-color 300ms ease-out;
}

.header__search-bar-form__button:hover {
    background-color: #FFD15B;
}

.header__search-bar-form__button__button-icon {
    color: white;
    font-size: 1.5rem;
    transition: color 300ms ease-out;
}

.header__search-bar-form__button:hover .header__search-bar-form__button__button-icon {
    color: #1b1b1b;
}

.header__search-bar-suggestions {
    position: absolute;
    width: 100%;
    background-color: white;
    z-index: 1;
    top: 100%;
    border-bottom-left-radius: 11px;
    border-bottom-right-radius: 11px;
}

.header__search-bar-suggestions.active {
    animation: open-menu 300ms forwards;
    transform-origin: top;
}

.header__search-bar-suggestions p {
    padding: 10px;
    cursor: pointer;
}

.header__search-bar-suggestions p:hover {
    background-color: #FFD15B;
}

.main {
    background-color: #ededed;
}

.main__filters-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: 104px;
    padding-top: 1.5rem;
}

.main__filters-section__filters {
    display: flex;
    gap: 66px;
}

.main__filters-section__filters__dropdown {
    position: relative;
    display: inline-block;
}

.main__filters-section__filters__dropdown__select {
    background-color: #ffffff;
    border: none;
    border-radius: 11px;
    padding: 17px 16px;
    font-family: "Manrope", sans-serif;
    font-size: 1rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    gap: 63px;
    cursor: pointer;
}

.main__filters-section__filters__dropdown__select.open {
    border-radius: 11px 11px 0 0;
}

.main__filters-section__filters__dropdown__filter {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    border-radius: 0 0 11px 11px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-height: 319px;
    overflow: scroll;
    scrollbar-width: none;
    display: none;
}

.main__filters-section__filters__dropdown__filter.active {
    display: flex;
    flex-direction: column;
    animation: open-menu 300ms forwards;
    transform-origin: top;
}

.main__filters-section__filters__dropdown__filter__filters-list__item {
    padding: 10px 15px;
    cursor: pointer;
}

.main__filters-section__filters__dropdown__filter__filters-list__item:hover {
    background-color: #FFD15B;
}

.main__filters-section__filters__dropdown__select,
.main__filters-section__filters__dropdown__filter {
    transition: all 0.3s ease;
}

.main__filters-section__filters__dropdown__filter__search-bar-container {
    display: flex;
    margin-inline: 1rem;
    margin-block: 0.75rem;
    border: 1px solid #C6C6C6;
    border-radius: 2px;
}

.main__filters-section__filters__dropdown__filter__search-bar {
    border: none;
    outline: none;
    font-size: 1rem;
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    color: #7a7a7a;
    width: 100%;
}

.main__filters-section__filters__dropdown__filter__button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #7a7a7a;
}

.main__filters-section__filters__dropdown__filter__active-filter.active {
    padding: 10px 15px;
    background-color: #FFD15B;
    margin-bottom: 1rem;
    cursor: pointer;
}

.main__filters-section__filters__dropdown__filter__active-filter.active:hover {
    font-weight: 700;
}

.main__filters-section__recipes-counter {
    font-family: "Anton", sans-serif;
    font-size: 21px;
    line-height: 31px;
}

.main__cards-section {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, 23.75rem);
    column-gap: 2.5rem;
    row-gap: 4rem;
    margin-top: 55px;
}

.main__cards-section__card {
    height: 45rem;
    width: 100%;
    border-radius: 21px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    box-shadow: 0px 4px 34px 30px rgba(0, 0, 0, 0.04);
    cursor: pointer;
}

.main__cards-section__card__recipes-photo {
    height: calc(100%/3);
    object-fit: cover;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
}

.main__cards-section__card__body-card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-inline: 1.5rem;
}

.main__cards-section__card__body-card__recipes-name {
    font-family: "Anton", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

.main__cards-section__card__body-card__recipes-description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.main__cards-section__card__body-card__recipes-description__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: grey;
}

.main__cards-section__card__body-card__recipes-description__description {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    height: 100px;
    overflow: hidden;
}

.main__cards-section__card__body-card__recipes-description__ingedients {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 190px;

}

.main__cards-section__card__body-card__recipes-description__ingedients__items {
    display: flex;
    flex-direction: column;
    font-weight: 500;
    font-size: 14px;
    margin-bottom: 21px;
}

.main__cards-section__card__body-card__recipes-description__ingedients__items__quantity {
    font-weight: 400;
    font-size: 14px;
    color: #7a7a7a;
}

@keyframes open-menu {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}